<div>
  <h1>List of Playlists</h1>
  <div>
    <ul>
      {{#each playlists}}
        <li>{{title}} Created at: {{created_at}}.</li>
      {{/each}}
    </ul>
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>